@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto Mono;
    font-weight: bold;
}

body {
    background: #292C34;
}

.grid{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template: repeat(6, 1fr) / repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.clock-box{
    position: relative;
    grid-area: 2 / 2 / span 1 / span 1;
    background-color: gray;
    border-radius: 10px;
    margin: 20px;
    border: gray;
    text-align: center;
    color: black;
    width: 500px;
    height: 150px;
    font-size: 46px;
    padding: 15px 20px;
}

.clock {
    background: rgba(255, 255, 255, 0.767);
    border-radius: 10px;
    width: 500px;
    height: 150px;
    font-size: 100px;
}

#clock-badge{
    position: absolute;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 30px;
    height: 40px;
    width: auto;
    top: -13px;
    right: 190px;
    background-color: #E2584D;
    color: white;
}

#stopwatch-badge{
    position: absolute;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 30px;
    height: 40px;
    width: auto;
    top: -13px;
    right: 160px;
    background-color: #E2584D;
    color: white;
}

#timer-badge{
    position: absolute;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 30px;
    height: 40px;
    width: auto;
    top: -13px;
    right: 190px;
    background-color: #E2584D;
    color: white;
}

#miliseconds {
    position: absolute;
    font-size: 40px;
    right: 50px;
    bottom: 10px
}

.button {
    position: absolute;
    background-color: #A01B11;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }


#clock-button {
    top: -80px;
    left: 10px;
}

#stopwatch-button {
    top: -80px;
    right: 180px;
}

#timer-button {
    top: -80px;
    right: 30px;
}









/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }





@import url("https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext");

.buttons {
  grid-area: 3 / 2 / 4 / 3;
  display: inline-flex;
  align-items: center;
}

#main-start {
  width: 200px;
  height: 200px;
  margin: 10% auto;
  /*background: linear-gradient(#DF293A, #EF495A);*/
  background: #2dc937;
  border-radius: 150px;
 /* box-shadow: 1px 5px 1px #CE152A;*/
 box-shadow: 1px 5px 1px #2dc937;
  transition: all .15s ease-in;
  
}


#inner-start {
  position: relative;
  color: #FFF;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Lato", Verdana, sans-serif;
  font-size: 30px;
  padding-top: 60px;
  width: 150px;
  height: 90px;
  border-radius: 120px;
  /*background: radial-gradient(#EF495A, #DE2839);*/
  background: #2dc937;
  box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.15) inset;
  margin: 0 auto;
  top: 25px;
}

#main-start:hover {
  /*box-shadow: 1px 3px 1px #CE152A;*/
  box-shadow: 1px 3px 1px #2dc937;
  cursor: pointer;
}


#main-circle-prog {
    width: 200px;
    height: 200px;
    margin: 10% auto;
    background: linear-gradient(#DF293A, #EF495A);
    border-radius: 150px;
    box-shadow: 1px 5px 1px #CE152A;
    transition: all .15s ease-in;
    grid-area: 3 / 2 / 4 / 3;
  }
  
  
  #inner-circle-prog {
    position: relative;
    color: #FFF;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    font-family: "Lato", Verdana, sans-serif;
    font-size: 30px;
    padding-top: 60px;
    width: 150px;
    height: 90px;
    border-radius: 120px;
    background: radial-gradient(#EF495A, #DE2839);
    box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.15) inset;
    margin: 0 auto;
    top: 25px;
  }
  
  #main-circle-prog:hover {
    box-shadow: 1px 3px 1px #CE152A;
    cursor: pointer;
  }



  #main-reset {
    width: 200px;
    height: 200px;

    /*background: linear-gradient(#DF293A, #EF495A);*/
    background: #e7b416;
    border-radius: 150px;
   /* box-shadow: 1px 5px 1px #CE152A;*/
   box-shadow: 1px 5px 1px #e7b416;
    transition: all .15s ease-in;
    grid-area: 4 / 2 / 4 / 3;
  }
  
  
  #inner-reset {
    position: relative;
    color: #FFF;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    font-family: "Lato", Verdana, sans-serif;
    font-size: 30px;
    padding-top: 60px;
    width: 150px;
    height: 90px;
    border-radius: 120px;
    /*background: radial-gradient(#EF495A, #DE2839);*/
    background: #e7b416;
    box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.15) inset;
    margin: 0 auto;
    top: 25px;
  }
  
  #main-reset:hover {
    /*box-shadow: 1px 3px 1px #CE152A;*/
    box-shadow: 1px 3px 1px#e7b416;
    cursor: pointer;
  }

  
  #main-sync {
    width: 200px;
    height: 200px;
    margin: 10% auto;
    /*background: linear-gradient(#DF293A, #EF495A);*/
    background: #2dc937;
    border-radius: 150px;
   /* box-shadow: 1px 5px 1px #CE152A;*/
   box-shadow: 1px 5px 1px #2dc937;
    transition: all .15s ease-in;
    grid-area: 3 / 2 / 4 / 3;
  }
  
  
  #inner-sync {
    position: relative;
    color: #FFF;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    font-family: "Lato", Verdana, sans-serif;
    font-size: 30px;
    padding-top: 60px;
    width: 150px;
    height: 90px;
    border-radius: 120px;
    /*background: radial-gradient(#EF495A, #DE2839);*/
    background: #2dc937;
    box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.15) inset;
    margin: 0 auto;
    top: 25px;
  }
  
  #main-sync:hover {
    /*box-shadow: 1px 3px 1px #CE152A;*/
    box-shadow: 1px 3px 1px #2dc937;
    cursor: pointer;
  }
  