@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto Mono;
    font-weight: bold;
}

body {
    /*background: #292C34;*/
    background: rgba(0, 0, 0, 0.87);
}

.colour {
  background: rgba(255, 255, 0, 0.815);
}

.navbar {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.151);
}

.navbar a {
  float: right;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgba(255, 0, 0, 0.671);
}

.grid{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template: repeat(6, 1fr) / repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

span {
  font-size: 92%;
}

.clock-box{
    position: relative;
    grid-area: 2 / 2 / span 1 / span 1;
    background-color: rgba(128, 128, 128, 0.747);
    border-radius: 10px;
    margin: 20px;
    border: #E2584D;
    text-align: center;
    color: black;
    width: 500px;
    height: 150px;
    padding: 15px 20px;
}

.clock {
    background: white;
    /*background: rgba(255, 255, 255, 0.767);*/
    width: 500px;
    height: 150px;
    font-size: 100px;
}

#clock-badge{
    position: absolute;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 30px;
    height: 40px;
    width: auto;
    top: -13px;
    right: 190px;
    background-color: #E2584D;
    color: white;
}

#stopwatch-badge{
    position: absolute;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 30px;
    height: 40px;
    width: auto;
    top: -13px;
    right: 160px;
    background-color: #E2584D;
    color: white;
}

#timer-badge{
    position: absolute;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 30px;
    height: 40px;
    width: auto;
    top: -13px;
    right: 190px;
    background-color: #E2584D;
    color: white;
}

#miliseconds {
    position: absolute;
    font-size: 40px;
    right: 50px;
    bottom: 10px
}

.button {
    position: absolute;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }


#clock-button {
    top: -80px;
    left: 10px;
}

#stopwatch-button {
    top: -80px;
    right: 180px;
}

#timer-button {
    top: -80px;
    right: 30px;
}

.buttons {
  grid-area: 3 / 2 / 4 / 3;
  display: inline-flex;
  align-items: center;
}

.main-start {
  width: 200px;
  height: 200px;
  margin: 10% auto;
  /*background: linear-gradient(#DF293A, #EF495A);*/
  background: #2dc937ec;
  border-radius: 150px;
 /* box-shadow: 1px 5px 1px #CE152A;*/
  box-shadow: 1px 5px 1px #2dc937;
  transition: all .15s ease-in;
  margin: 20px 40px;
  
}

#main-start {
  background: rgba(45,201,55, 0);
  box-shadow: 1px 5px 1px rgba(45,201,55, 0);
}


.inner-start {
  transition: background ease 0.7s;
  position: relative;
  color: #FFF;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Lato", Verdana, sans-serif;
  font-size: 30px;
  padding-top: 60px;
  width: 150px;
  height: 90px;
  border-radius: 120px;
  /*background: radial-gradient(#EF495A, #DE2839);*/
  background: #2dc937;
  box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.15) inset;
  margin: 0 auto;
  top: 25px;
}

.main-start:hover {
  /*box-shadow: 1px 3px 1px #CE152A;*/
  box-shadow: 1px 3px 1px #2dc937;
  cursor: pointer;
  transform: scale(1.1);
  transition: ease 0.5s;
}


.main-stop {
    background: #cc3232e8;
    width: 200px;
    height: 200px;
    margin: 10% auto;
    border-radius: 150px;
    box-shadow: 1px 5px 1px #cc3232;
    transition: all .15s ease-in;
    margin: 20px 40px;
  }

  .inner-stop {
    transition: background ease 0.7s;
    background: #cc3232;
    position: relative;
    color: #FFF;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    font-family: "Lato", Verdana, sans-serif;
    font-size: 30px;
    padding-top: 60px;
    width: 150px;
    height: 90px;
    border-radius: 120px;
    /*background: radial-gradient(#EF495A, #DE2839);*/
    box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.15) inset;
    margin: 0 auto;
    top: 25px;
  }

  .main-stop:hover {
    box-shadow: 1px 3px 1px #cc3232;
    cursor: pointer;
    transform: scale(1.1);
    transition: ease 0.5s;
  }


  #main-reset {
    width: 200px;
    height: 200px;

    /*background: linear-gradient(#DF293A, #EF495A);*/
    background: rgba(0, 0, 255, 0.863, 0);
    border-radius: 150px;
   /* box-shadow: 1px 5px 1px #CE152A;*/
   box-shadow: 1px 5px 1px rgba(0, 0, 255, 0.863, 0);
    transition: all .15s ease-in;
    grid-area: 4 / 2 / 4 / 3;
    margin: 20px 40px;
  }
  
  
  #inner-reset {
    position: relative;
    color: #FFF;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    font-family: "Lato", Verdana, sans-serif;
    font-size: 30px;
    padding-top: 60px;
    width: 150px;
    height: 90px;
    border-radius: 120px;
    /*background: radial-gradient(#EF495A, #DE2839);*/
    background: blue;
    box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.15) inset;
    margin: 0 auto;
    top: 25px;
  }
  
  #main-reset:hover {
    /*box-shadow: 1px 3px 1px #CE152A;*/
    box-shadow: 1px 3px 1px rgba(0, 0, 255, 0.863, 0);
    cursor: pointer;
    transform: scale(1.1);
    transition: ease 0.5s;
  }

  input {
    border: none;
    width: 105px;
    height: 100px;
    font-size: 92px;
  }

  #seconds-input {
    padding-right: 0.5px;
    text-align: start;
  }

  #minutes-input {
    text-align: center;
  }

  #hours-input {
    padding-left: 0.5px;
    text-align: end;
  }

  ::placeholder {
    color: black;
  }


  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}