@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto Mono;
    font-weight: bold;
}

body {
    background: #292C34;
}

.grid{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template: repeat(6, 1fr) / repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.clock-box{
    position: relative;
    grid-area: 2 / 2 / span 1 / span 1;
    background-color: gray;
    border-radius: 10px;
    margin: 20px;
    border: gray;
    text-align: center;
    color: black;
    width: 500px;
    height: 150px;
    font-size: 46px;
    padding: 15px 20px;
}

.clock {
    background: rgba(255, 255, 255, 0.767);
    border-radius: 10px;
    width: 500px;
    height: 150px;
    font-size: 100px;
}

.badge{
    position: absolute;
    border-radius: 10px;
    font-size: 30px;
    height: 40px;
    width: 130px;
    top: -13px;
    right: 200px;
    background-color: #E2584D;
    color: white;
}

#miliseconds {
    position: absolute;
    font-size: 40px;
    right: 50px;
    bottom: 10px
}